@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home PlanIt</h1>
    <p class="lead">What type of project do you want to do?</p>
</div>

<div class="row" id="leftside">
    <div class="col-md-6">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">DIY &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Contractor &raquo;</a></p>
    </div>
</div>