@{
    ViewBag.Title = "Home Page";
}
<div class="header">
    <div class="row">
        <div class="col-md-4" id="projectButton">
            <h2>DIY Projects</h2>
            <span><a class="btn btn-default" id="diyProject" href="@Url.Action("Create","DIY")"></a></span>
        </div>
        <div class="col-md-4" id="projectButton">
            <h2>Supplies</h2>
            <span><a class="btn btn-default" id="supplies" href="@Url.Action("Create","Supply")"></a></span>
        </div>
        <div class="col-md-4" id="projectButton">
            <h2>Roadblocks</h2>
            <span><a class="btn btn-default" id="roadblocks" href="@Url.Action("Create","Roadblock")"></a></span>
        </div>
    </div>
</div>
