body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron{
    border:none;
    background-color: white;
}

.leftsidecontainer{
    height: 100%;
}

#leftside {
    background: url(https://images.pexels.com/photos/53987/tool-work-bench-hammer-pliers-53987.jpeg?cs=srgb&dl=blur-close-up-colors-53987.jpg&fm=jpg)
}

#rightside {
    height: inherit;
    background: url(https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?cs=srgb&dl=blueprint-designing-diagram-834892.jpg&fm=jpg)
}
